#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
html, body {
  margin:0;
  height:100%;
  width: 100%;
}

body:has(.World) {
  background-image: url("./img/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

body:has(.Area) {
  background-image: url("./img/background2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

body:has(.Error) {
  background-image: url("./img/background3.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

.Area > button {
  background-color: red;
  color: white;
  transition-duration: 0.4s;
}
.Area > button:hover {
  background-color: blue;
  color: white;
}

.World > button {
  background-color: red;
  color: white;
  transition-duration: 0.4s;
}

.World > button:hover {
  background-color: blue;
  color: white;
}


.errorback {
  position: fixed;
  top: 76vh;
  left: 71vh;
  transition-duration: 0.4s;
  background-color: blue;
  color: white;
}

.errorback:hover{
  background-color: red;
  color: white;
}

.back {
  position: fixed;
  top: 60vh;
  left: 81vh;
  transition-duration: 0.4s;
  background-color: blue;
  color: white;
}

.back:hover {
  background-color: red;
  color: white;
}

.welcome:has(h2){
  position: fixed;
  top: 2vh;
  left: 70vh;
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: black;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.welcome:has(h2):hover{
  box-shadow: inset 320px 0 0 0 red;
  color: white;
}

#Error404 {
  position: relative;
  top: -40vh;
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: black;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#Error404:has(h2):hover{
  box-shadow: inset 720px 0 0 0 red;
  color: white;
}

#Area1 {
  position: fixed;
  top: 17vw; left: 43vw;
}
#Area2 {
  position: fixed;
  top: 10vw; left: 22vw;
}
#Area3 {
  position: fixed;
  top: 20vw; left: 87vw;
}
#Area4 {
  position: fixed;
  top: 27vw; left: 60vw;
}
#Area5 {
  position: fixed;
  top: 10vw; left: 42vw;
}
#Area6 {
  position: fixed;
  top: 20vw; left: 0vw;
}
#Area7 {
  position: fixed;
  top: 10vw; left: 68vw;
}
#Area8 {
  position: fixed;
  top: 6vw; left: 65vw;
}
#Area9 {
  position: fixed;
  top: 14vw; left: 18vw;
}
#Area10 {
  position: fixed;
  top: 10vw; left: 90vw;
}
#Area11 {
  position: fixed;
  top: 27vw; left: 80vw;
}
#Area12 {
  position: fixed;
  top: 27vw; left: 8vw;
}
#Area13 {
  position: fixed;
  top: 10vw; left: 68vw;
}
#Area14 {
  position: fixed;
  top: 15vw; left: 78vw;
}
#Area15 {
  position: fixed;
  top: 20vw; left: 65vw;
}
#Area16 {
  position: fixed;
  top: 13vw; left: 60vw;
}
#Area17 {
  position: fixed;
  top: 20vw; left: 20vw;
}
#Area18 {
  position: fixed;
  top: 12vw; left: 2vw;
}
#Area19 {
  position: fixed;
  top: 30vw; left: 5vw;
}
#Area20 {
  position: fixed;
  top: 60vw; left: 38vw;
}

#World1 {
  position: fixed;
  top: 20vw; left: 43vw;
}
#World2 {
  position: fixed;
  top: 2vw; left: 38vw;
}
#World3 {
  position: fixed;
  top: 2vw; left: 87vw;
}
#World4 {
  position: fixed;
  top: 30vw; left: 32vw;
}
#World5 {
  position: fixed;
  top: 40vw; left: 40vw;
}
#World6 {
  position: fixed;
  top: 40vw; left: 0vw;
}
#World7 {
  position: fixed;
  top: 12vw; left: 68vw;
}
#World8 {
  position: fixed;
  top: 2vw; left: 65vw;
}
#World9 {
  position: fixed;
  top: 2vw; left: 8vw;
}
#World10 {
  position: fixed;
  top: 12vw; left: 90vw;
}
#World11 {
  position: fixed;
  top: 30vw; left: 80vw;
}
#World12 {
  position: fixed;
  top: 35vw; left: 68vw;
}
#World13 {
  position: fixed;
  top: 12vw; left: 29vw;
}
#World14 {
  position: fixed;
  top: 40vw; left: 17vw;
}
#World15 {
  position: fixed;
  top: 27vw; left: 61vw;
}
#World16 {
  position: fixed;
  top: 20vw; left: 24vw;
}
#World20 {
  position: fixed;
  top: 20vw; left: 10vw;
}
#World17 {
  position: fixed;
  top: 12vw; left: 4vw;
}
#World18 {
  position: fixed;
  top: 12vw; left: 50vw;
}
#World19 {
  position: fixed;
  top: 37vw; left: 89vw;
}